# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android/*
!/android/app/
/android/app/*
!/android/app/src/
/android/app/src/*
!/android/app/src/main/
/android/app/src/main/*
!/android/app/src/main/res/
/android/app/src/main/res/*
!/android/app/src/main/res/drawable/
!/android/app/src/main/res/drawable-hdpi/
!/android/app/src/main/res/drawable-mdpi/
!/android/app/src/main/res/drawable-xhdpi/
!/android/app/src/main/res/drawable-xxhdpi/
!/android/app/src/main/res/drawable-xxxhdpi/
!/android/app/src/main/res/mipmap-anydpi-v26/
!/android/app/src/main/res/mipmap-hdpi/
!/android/app/src/main/res/mipmap-mdpi/
!/android/app/src/main/res/mipmap-xhdpi/
!/android/app/src/main/res/mipmap-xxhdpi/
!/android/app/src/main/res/mipmap-xxxhdpi/
!/android/app/src/main/res/values/
!/android/app/src/main/res/values-en/
!/android/app/src/main/res/values-zh/
/android/app/src/main/res/drawable/*
!/android/app/src/main/res/drawable/ic_launcher_background.xml
/android/app/src/main/res/drawable-hdpi/*
!/android/app/src/main/res/drawable-hdpi/splashscreen_logo.png
/android/app/src/main/res/drawable-mdpi/*
!/android/app/src/main/res/drawable-mdpi/splashscreen_logo.png
/android/app/src/main/res/drawable-xhdpi/*
!/android/app/src/main/res/drawable-xhdpi/splashscreen_logo.png
/android/app/src/main/res/drawable-xxhdpi/*
!/android/app/src/main/res/drawable-xxhdpi/splashscreen_logo.png
/android/app/src/main/res/drawable-xxxhdpi/*
!/android/app/src/main/res/drawable-xxxhdpi/splashscreen_logo.png
/android/app/src/main/res/mipmap-anydpi-v26/*
!/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
!/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/android/app/src/main/res/mipmap-hdpi/*
!/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
!/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
!/android/app/src/main/res/mipmap-hdpi/ic_launcher_monochrome.webp
!/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/android/app/src/main/res/mipmap-mdpi/*
!/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
!/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
!/android/app/src/main/res/mipmap-mdpi/ic_launcher_monochrome.webp
!/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
/android/app/src/main/res/mipmap-xhdpi/*
!/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
!/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
!/android/app/src/main/res/mipmap-xhdpi/ic_launcher_monochrome.webp
!/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
/android/app/src/main/res/mipmap-xxhdpi/*
!/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
!/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
!/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_monochrome.webp
!/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
/android/app/src/main/res/mipmap-xxxhdpi/*
!/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
!/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
!/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_monochrome.webp
!/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
/android/app/src/main/res/values/*
!/android/app/src/main/res/values/colors.xml
!/android/app/src/main/res/values/strings.xml
/android/app/src/main/res/values-en/*
!/android/app/src/main/res/values-en/strings.xml
/android/app/src/main/res/values-zh/*
!/android/app/src/main/res/values-zh/strings.xml
